@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vend+Sans:wght@300..700&display=swap");
@import "tailwindcss";

@layer base {
	body {
		background-image: linear-gradient(55deg, #CB1B44, #D42246, #E7430D, #ff7600, orange);
		font-family: 'Vend Sans';
		font-weight: 300;
	}

	main {
		@apply 
			flex
			flex-col 
			items-center 
			justify-center-safe
			p-4;
		height: 100dvh;
		overflow-y: auto
		}
	
	button {
		@apply 
			font-bold
			text-white
			border-white
			border-2
			px-4 py-2 m-1
			rounded-full
			min-w-25;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transition: background-color 0.3s ease;
	}

	input, textarea {
		@apply 
			text-gray-100
			border-white
			bg-white/5
			hover:bg-white/10
			border-2 
			px-4 py-2 m-1
			min-w-60
			rounded-full
		active:border-red-500;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	h1 {
		@apply 
			text-4xl 
			font-bold
			text-center
			mb-4;
		font-family: 'Monoton'; 
		font-weight: normal;
	}

	p {
		@apply 
			max-w-80
			text-base
			text-center
			my-1.5;
		line-height: 1.5;
	}

}

@utility icon-ph {
	@apply  
		w-24
		h-24
		my-6
		bg-white/30
		rounded-full;
}





